body {
    font-family: "Merriweather", serif !important;
    text-align: center;
    line-height: 1, 2px;
}

h1 {
    font-family: "Merriweather", serif !important;
    text-align: center;
    font-size: 36px;
}

.title {
    display: block;
    margin: auto;
    max-width: 30rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    font-family: "Merriweather", serif !important;
    text-align: center;
    line-height: 1, 2px;
    text-decoration: none;
    color: #000;
    overflow-x: hidden;
}

.content {
    margin: auto;
    max-width: 75%;
    height: auto;
}

.page {
    display: block;
    margin: auto;
    max-width: 75%;
    height: auto;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    overflow: hidden;
    background: #FFC585 !important;
    color: #3f0700;
    list-style-type: none !important;
}

.navigation {
    display: block;
    text-align: center !important;
    padding: 10px 20px;
    font-size: 24px;
}

.navigation:hover {
    flex-wrap: wrap;
    text-decoration: underline !important;
    text-decoration-color: #3f0700;
}

header {
    z-index: 0;
    text-decoration: none;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #FFC585;
    height: 50px;
    text-align: center;
}

.footer-text {
    padding-top: 1rem;
}

.summary {
    margin-left: 3rem;
    margin-right: 3rem;
    vertical-align: middle;
}

@media (max-width: 768px) {
    .summary {
        margin-left: 2rem;
        margin-right: 2rem;
    }
}