body{
    font-family: "Merriweather", serif;
    text-align: center;
    line-height: 1,2px;
}
h1{
    font-family: "Merriweather", serif;
    text-align: center;
    font-size: 36px;
}
.title{
    display:block;
    margin:auto;
    max-width: 30rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
a{
    font-family: "Merriweather", serif;
    text-align: center;
    line-height: 1,2px;
    text-decoration: none;
    color:#000;
    overflow-x: hidden;
}
.content{
    display: block;
    margin:auto;
    max-width: 75%;
    height: auto;
}
.page{
    display: block;
    margin:auto;
    max-width: 75%;
    height: auto;
}
.link{
    display:flex;
    justify-content: center;
    align-items: center;
}
.nav{
    margin: 2rem;
}
header{
    z-index: 0;
    position: sticky;
    text-decoration: none;
    padding: 1rem;
    background-color: #FFC585;
}
footer{
    padding: 0.1rem;
    background-color: #FFC585;
    z-index: 0;
}