body{
    font-family: "Merriweather", serif;
    text-align: center;
    line-height: 1,2px;
    background:#fffee7 ;
}
h1{
    font-family: "Merriweather", serif;
    text-align: center;
    font-size: 36px;
}
.navbar{
    background-color: #ff9179;
    color:#000;
    top:0;
    left: 0;
    width: 100%;
    top: 0;
    position:sticky;
}
a{
    font-family: "Merriweather", serif;
    text-align: center;
    line-height: 1,2px;
    text-decoration: none;
    color:#000;
    overflow-x: hidden;
}
img{
    display: block;
    margin:auto;
    max-width: 75%;
    height: auto;
}
.page{
    display: block;
    margin:auto;
    max-width: 75%;
    height: auto;
}
.link{
    display:flex;
    justify-content: center;
    align-items: center;
}